@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background-image: linear-gradient(to right, #851DC8, #D30F74);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.ant-pagination-item {
    background-color: transparent !important;
}

.ant-pagination-item-active {
    border: none !important;
}

.ant-pagination-item-active .item-pagination {
    background-color: #F13792 !important;
    color: white;
}